flow.json
[
    {
        "id": "10bf107a.cf557",
        "type": "tab",
        "label": "Debug Basics",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c57f0e99.78ac5",
        "type": "tab",
        "label": "MQTT Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abf1da65.1b0658",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d24ab719.39de28",
        "type": "inject",
        "z": "10bf107a.cf557",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "50",
                "vt": "num"
            },
            {
                "p": "davide",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OpenDoTT!",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "36e0f0d4.909dd",
                "bdb2f0b0.d9c9",
                "e75d32a4.cc8f8",
                "361e4f63.64c4c",
                "df07ecc5.892ee",
                "21120cbc.0aadb4",
                "1e7f0d.4a7030f4"
            ]
        ]
    },
    {
        "id": "36e0f0d4.909dd",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "bdb2f0b0.d9c9",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "e75d32a4.cc8f8",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "361e4f63.64c4c",
        "type": "switch",
        "z": "10bf107a.cf557",
        "name": "is \"davide\" true?",
        "property": "davide",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "261cb50f.7514fa"
            ],
            [
                "d9b11e64.bfd2e"
            ]
        ]
    },
    {
        "id": "df07ecc5.892ee",
        "type": "switch",
        "z": "10bf107a.cf557",
        "name": "is topic more than 40?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "40",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "ffdc9089.e0dc2"
            ]
        ]
    },
    {
        "id": "261cb50f.7514fa",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "d9b11e64.bfd2e",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "ffdc9089.e0dc2",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "21120cbc.0aadb4",
        "type": "range",
        "z": "10bf107a.cf557",
        "minin": "0",
        "maxin": "1023",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": false,
        "property": "topic",
        "name": "Map msg.topic ",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "5affdfcf.b1525"
            ]
        ]
    },
    {
        "id": "5affdfcf.b1525",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "1e7f0d.4a7030f4",
        "type": "change",
        "z": "10bf107a.cf557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "number",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "16402598.78c2da"
            ]
        ]
    },
    {
        "id": "16402598.78c2da",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "d1bebf90.84dac",
        "type": "comment",
        "z": "10bf107a.cf557",
        "name": "Functions",
        "info": "",
        "x": 140,
        "y": 580,
        "wires": []
    },
    {
        "id": "9cf05aee.096718",
        "type": "function",
        "z": "10bf107a.cf557",
        "name": "",
        "func": "var msg = {payload : \n\t{\n\t\tgreetings : \"ciao\",\n\t\tlang : \"chinese\",\n\t\tnumber: 5\n\t}\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 620,
        "wires": [
            [
                "1c32cfef.93a68",
                "1bfa269a.3d94b9"
            ]
        ]
    },
    {
        "id": "90a7f29e.1abcb",
        "type": "function",
        "z": "10bf107a.cf557",
        "name": "",
        "func": "var uno = {payload : \"1\"};\nvar due = {payload : \"2\"};\nvar tre = {payload : \"3\"};\nvar quattro = {payload : \"4\"}; \n\nreturn [quattro, due, tre];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 760,
        "wires": [
            [
                "8ad558de.f6f4b8"
            ],
            [
                "18886b88.ab3ad4"
            ],
            [
                "4fdea1d0.f133b"
            ]
        ]
    },
    {
        "id": "12c2563e.192e2a",
        "type": "inject",
        "z": "10bf107a.cf557",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "9cf05aee.096718"
            ]
        ]
    },
    {
        "id": "f9a700f7.8c23c",
        "type": "inject",
        "z": "10bf107a.cf557",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 310,
        "y": 760,
        "wires": [
            [
                "90a7f29e.1abcb"
            ]
        ]
    },
    {
        "id": "1c32cfef.93a68",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "8ad558de.f6f4b8",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "d45be685.a419d8",
        "type": "inject",
        "z": "10bf107a.cf557",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "a",
        "payloadType": "str",
        "x": 290,
        "y": 940,
        "wires": [
            [
                "9a794260.3593a"
            ]
        ]
    },
    {
        "id": "61caf87f.2707a8",
        "type": "inject",
        "z": "10bf107a.cf557",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "b",
        "payloadType": "str",
        "x": 290,
        "y": 990,
        "wires": [
            [
                "9a794260.3593a"
            ]
        ]
    },
    {
        "id": "9a794260.3593a",
        "type": "function",
        "z": "10bf107a.cf557",
        "name": "",
        "func": "var msg1 = {payload: \"This is the first message\"};\nvar msg2 = {payload: \"This is message two\", colour: \"Blue\"};\nif (msg.payload == 'a')\n{\n    return [msg1, msg2];\n}\nelse\nreturn [[],msg2];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 482,
        "y": 970,
        "wires": [
            [
                "641ff73f.f441c8"
            ],
            [
                "bf761082.623f8"
            ]
        ]
    },
    {
        "id": "641ff73f.f441c8",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "Message 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 940,
        "wires": []
    },
    {
        "id": "bf761082.623f8",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "Message 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 690,
        "y": 980,
        "wires": []
    },
    {
        "id": "18886b88.ab3ad4",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "4fdea1d0.f133b",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 820,
        "wires": []
    },
    {
        "id": "1bfa269a.3d94b9",
        "type": "debug",
        "z": "10bf107a.cf557",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "7efbcbb3.684244",
        "type": "aedes broker",
        "z": "c57f0e99.78ac5",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_port": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5e4fae82.78b35",
        "type": "mqtt in",
        "z": "c57f0e99.78ac5",
        "name": "",
        "topic": "/openDoTT",
        "qos": "2",
        "datatype": "auto",
        "broker": "abf1da65.1b0658",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "7817b505.5a875c"
            ]
        ]
    },
    {
        "id": "313bfcce.2399f4",
        "type": "mqtt out",
        "z": "c57f0e99.78ac5",
        "name": "",
        "topic": "/openDoTT",
        "qos": "",
        "retain": "",
        "broker": "abf1da65.1b0658",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "2d28b5c6.ef6f7a",
        "type": "inject",
        "z": "c57f0e99.78ac5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello OpenDoTT!",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "313bfcce.2399f4"
            ]
        ]
    },
    {
        "id": "7817b505.5a875c",
        "type": "debug",
        "z": "c57f0e99.78ac5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "bb60f95c.62de68",
        "type": "comment",
        "z": "c57f0e99.78ac5",
        "name": "Basic MQTT Client in Node-RED",
        "info": "",
        "x": 200,
        "y": 180,
        "wires": []
    }
]